{% extends "base.html" %} {% block content %}

<div class="container">
    <!-- Button trigger modal -->
    

    <!-- this is the code for the table -->
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Guardian_Name</th>
                <th scope="col">Guardian_Telephone</th>
                <th scope="col">Patient_name</th>
            </tr>
        </thead>
        <tbody>
            {% for guardian in patients %}
            <tr>
                <td>{{guardian.id}}</td>
                <td>{{guardian.guardian_name}}</td>
                <td>{{guardian.guardian_phone_no}}</td>
                <td>{{guardian.first_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}