{% extends "base.html" %} {% block content %}

<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        ADD NEW PRODUCT
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to inventory</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/inventory">
                        <div class="mb-3">
                            <label for="" class="form-label"> Name</label>
                            <input type="text" class="form-control" name="name" id="" aria-describedby="" />
                        </div>
                       
                        <div class="dropdown">
                            <label for="">Choose category</label>
                            <select name="category">
                                
                                <option value="product">product</option>
                                <option value="service">service</option>
                                
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">selling_price</label>
                            <input type="number" class="form-control" name="cost" id="" aria-describedby="" />
                        </div>
                        
                        <br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- this is the code for the table -->
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">category</th>
                <th scope="col">Selling_price</th>
                
            </tr>
        </thead>
        <tbody>
            {% for inventor in inventory %}
            <tr>
                <td>{{inventor.name}}</td>
                <td>{{inventor.category}}</td>
                <td>{{inventor.selling_price}}</td>
      
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}